rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email == 'fahadahmad.cyber@gmail.com';
    }

    match /admin/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /platform/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /support_tickets/{ticketId} {
      allow create: if isSignedIn();
      allow read: if isSignedIn();
      allow update: if isSignedIn();
      allow delete: if isAdmin();
    }

    match /users/{userId} {
      allow create: if isSignedIn() && request.auth.uid == userId;
      allow read: if isSignedIn() && (request.auth.uid == userId || isAdmin());
      allow update: if isSignedIn() && (request.auth.uid == userId || isAdmin());
      allow delete: if isAdmin();
    }

    match /{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
